@import '../../../theme.scss';

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 100;
}

.footerstyle {
    font-family: $g-font-family;
    font-size: 0.8em;
    font-weight: 400;
    color: $g-secondary-color;
    text-align: center;
    font-weight: 600;
    margin-right: 16px;
}
