@import '../../../../../theme.scss';


.form-drop-down {
    width: 100% !important;
}

.css-yk16xz-control:hover {
    border-color: #20639b !important;
}

.css-yk16xz-control:focus {
    color: #495057 !important;
    background-color: #fff !important;
    border-color: #80bdff !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}

.css-1pahdxg-control {
   /* border-color: transparent !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;*/
}

/*.css-2b097c-container {
    color: #495057 !important;
    background-color: #fff !important;
    border-color: #80bdff !important;
    outline: 0 !important;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}*/