
.css-tlfecz-indicatorContainer{
    color: #EF7C00;
}
.css-6q0nyr-Svg{
    fill: #EF7C00 !important;
}
.basic-select{
    .select__control {
        border-color: #20639b;
    }
}
.form-control{
    border-color: #20639b;
}

p.text-danger{
    margin-top: 5px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
 }